<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.org.mapper.barmapper">
    <select id="getallBar" parameterType="java.lang.String" resultType="com.example.demo.org.model.Bar">
   select  *from bar where Barname like '${value}%'
 </select>
    <insert id="barreg" parameterType="com.example.demo.org.model.Bar">
        insert into bar values(null,#{Barname},#{Barbrief},#{Baruser},0,#{Barimg})
    </insert>
    <select id="getbar" parameterType="java.lang.String" resultType="com.example.demo.org.model.Bar">
        select *from bar where Barname=#{value}
    </select>
    <select id="getbarbyid" resultType="com.example.demo.org.model.Bar">
        select * from bar where Barid=#{value}
    </select>
    <insert id="setbattention" parameterType="com.example.demo.org.model.Battention">
        insert into battention values(null,#{uid},#{barid})
    </insert>
    <delete id="delbattention" parameterType="com.example.demo.org.model.Battention">
        delete from battention where uid=#{uid} and barid=#{barid}
    </delete>
    <select id="getbattention" resultType="com.example.demo.org.model.Battention">
        select * from battention where uid=#{uid} and barid=#{barid}
    </select>
    <select id="getabar" resultType="com.example.demo.org.model.Bar">
        select * from bar order by barid desc limit #{value},10
    </select>
    <delete id="delbarid" parameterType="int">
        delete from bar where Barid=#{value}
    </delete>
</mapper>