<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.org.mapper.blogmapper">
    <insert id="setblog"  parameterType="com.example.demo.org.model.Blog">
insert into blog values(null,#{bname},#{bcontent},0,0,#{uid},#{btime})
    </insert>
 <select id="getblog" resultType="com.example.demo.org.model.Blog">
     select * from blog where bid=#{value}
 </select>
</mapper>